<!DOCTYPE html>
<html lang="en" class="h-full bg-gray-100">

<head>

    {% include 'components/global-head.html'%}

    <script type="importmap">
    {
        "imports": {
        "three": "https://unpkg.com/three@0.158.0/build/three.module.js",
        "three/addons/": "https://unpkg.com/three@0.158.0/examples/jsm/"
        }
    }
    </script>

</head>

<body class="h-full">

    <div class="min-h-full min-w-[6in]">
        {% include 'components/header-bar.html' %}

        <!-- Content -->
        <section class="py-20">
            <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                {% include 'components/raw-data-card.html' %}

                {% with
                id="zcc-startSetupContainer",
                txt='Goto Setup',
                href="/template/setup.html?experimentName="+experimentName+"&subjectID="+subjectID
                %}
                {% include 'components/goto-next-step-button.html' %}
                {% endwith %}

                <!-- Brain graph -->
                <div class="flex">
                    <div id="zcc-brainContainer" class="w-1/2 self-center">
                        {% include 'components/loading-div.html' %}
                    </div>
                    <div id="zcc-eegGeometryContainer" class="w-1/2 self-center">
                        {% include 'components/loading-div.html' %}
                    </div>
                </div>

                <div>
                    <div id="zcc-eegDataControllerContainer" class="w-full flex">
                    </div>
                    <div id="zcc-eegDataContainer" class="w-full">
                        {% include 'components/loading-div.html' %}
                    </div>
                    <div id="zcc-eventsContainer" class="w-full">
                        {% include 'components/loading-div.html' %}
                    </div>
                </div>

                <!-- Raw info table -->
                <div class="mx-auto max-w-2xl lg:mx-0">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    Key
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Value
                                </th>
                            </tr>
                        </thead>

                        <tbody id="zcc-rawInfoTbody">
                            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                <th scope="row"
                                    class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                    Waiting for...
                                </th>
                                <td class="px-6 py-4">
                                    Data
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        {% include "components/footer-bar.html" %}

        <!-- Script -->
        <section>
            <form id="_thisForm" class="">
                <label>Invisible but important private form</label>
                <br>
                <label>Experiment name</label>
                <input id="_experimentName" value="{{experimentName}}">
                <br>
                <label>Subject id</label>
                <input id="_subjectID" value="{{subjectID}}">
            </form>
            <script type="module" src="/src/raw.js">
            </script>
        </section>

    </div>
</body>

</html>