<div
    class="relative items-center block p-6 bg-white border border-gray-100 rounded-lg shadow-md dark:bg-gray-800 dark:border-gray-800 dark:hover:bg-gray-700">

    {% include 'components/intro-experiment-name.html' %}

    <p class="font-normal text-blue-900 dark:text-gray-400 opacity-90">
        Motor imagery is a mental process by which an individual rehearses or simulates a given action. It is widely
        used in sport training as mental practice of action, neurological rehabilitation, and has also been employed as
        a research paradigm in cognitive neuroscience and cognitive psychology to investigate the content and the
        structure of covert processes (i.e., unconscious) that precede the execution of action.[1][2] In some medical,
        musical, and athletic contexts, when paired with physical rehearsal, mental rehearsal can be as effective as
        pure physical rehearsal (practice) of an action.[3]
    <p class="text-right">
        <a class="underline text-blue-600 hover:text-blue-800 visited:text-purple-600"
            href="https://en.wikipedia.org/wiki/Motor_imagery">wikipedia</a>
    </p>
    </p>
</div>